PyQt6>=6.11.0
PyQt6-WebEngine>=6.11.0
tweepy>=4.16.0
atproto>=0.0.65
Pillow>=12.2.0
keyring>=25.7.0
requests>=2.34.2
packaging>=26.2
python-dotenv>=1.2.2
ffmpeg-python>=0.2.0
imageio-ffmpeg>=0.6.0
boto3>=1.43.10
